$white: #ffffff;
$green: #00cc40;
$gray: rgb(122, 122, 122);
$main-container-color: rgba(154, 154, 154, 0.13);
$light-gray: rgba(197, 195, 195, 0.49);
$input-border-color: 1px solid rgba(128, 128, 128, 0.52);
$message-complete-color: rgba(128, 128, 128, 0.21);
$red: #ff0000;